<a href="https://colab.research.google.com/github/unknown-jun/First_step_of_data_analist/blob/master/Film_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Package

In [3]:
import pandas as pd
import numpy as np
import json
from google.colab import files

# Load Dataset

In [4]:
file_1 = files.upload()
meta = pd.read_csv('movies_metadata.csv')

Saving movies_metadata.csv to movies_metadata.csv

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
file_2 = files.upload()
rating = pd.read_csv('ratings_small.csv')

Saving ratings_small.csv to ratings_small.csv

In [6]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [7]:
meta = meta[['id', 'original_title', 'original_language', 'genres']]
meta = meta.rename(columns={'id':'movieId'})  # 후에 조인 사용을 위해 컬럼의 이름을 바꿔줌
meta = meta[meta['original_language']=='en']  # meta 데이터 중 영어로만 된 것들만 가지고 옴
meta.head()

  movieId  ...                                             genres
0     862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4   11862  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [8]:
rating = rating[['userId', 'movieId', 'rating']]
rating.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [9]:
rating.describe()

              userId        movieId         rating
count  100004.000000  100004.000000  100004.000000
mean      347.011310   12548.664363       3.543608
std       195.163838   26369.198969       1.058064
min         1.000000       1.000000       0.500000
25%       182.000000    1028.000000       3.000000
50%       367.000000    2406.500000       4.000000
75%       520.000000    5418.000000       4.000000
max       671.000000  163949.000000       5.000000

# Refine Dataset

In [10]:
# 영화번호에 대한 데이터를 숫자형태로 바꾼다 (pd.to_numeric)
# '문자형'('a', '나는')와 같은 데이터가 있을 수 있기 때문에 errors = 'coercase'로 그 값들을 NaN으로 변환
meta.movieId = pd.to_numeric(meta.movieId, errors = 'coerce')
rating.movieId = pd.to_numeric(rating.movieId, errors='coerce')

In [11]:
def parse_genres( genres_str ):
    """genre의 columns가 지저분하게 되어 있으므로 이를 배열형태로 정제하기 위한 함수"""
    genres = json.loads(genres_str.replace('\'', '"'))
    # json 형태의 데이터의 작은 따음표를 큰 따음표로 바꾸어준다.
    genres_list =[]
    for g in genres:
        genres_list.append(g['name']) # 위에 있는 장르만 뽑아낸다

    return genres_list

meta['genres'] = meta['genres'].apply(parse_genres) # parse_genres 함수를 'genres' column에 모두 적용힌다.

In [12]:
meta.head()

   movieId  ...                        genres
0      862  ...   [Animation, Comedy, Family]
1     8844  ...  [Adventure, Fantasy, Family]
2    15602  ...             [Romance, Comedy]
3    31357  ...      [Comedy, Drama, Romance]
4    11862  ...                      [Comedy]

[5 rows x 4 columns]

# Merge Meta and Ratings

In [13]:
data = pd.merge(rating, meta, on='movieId', how='inner')
# 각 영화에 대한 사용자의 데이터를 추출하기 위해 
# 평가 테이블과 메타 테이블을 합침
# 기준은 영화아이디로 형태는 inner join
# 여러 유저에 대한 평가를 다 한줄의 형태로 보여준다.
data.head()

   userId  movieId  rating original_title original_language   genres
0       1     1371     2.5      Rocky III                en  [Drama]
1       4     1371     4.0      Rocky III                en  [Drama]
2       7     1371     3.0      Rocky III                en  [Drama]
3      19     1371     4.0      Rocky III                en  [Drama]
4      21     1371     3.0      Rocky III                en  [Drama]

# Pivot Table

In [14]:
matrix = data.pivot_table(index = 'userId', columns='original_title', values = 'rating')

# pivot 테이블을 만듦으로써 한 유저가 각각의 영화에 대하여 어떠한 점수를 줬는지 알수 있다.
matrix.head(20)

original_title  !Women Art Revolution  ...  Мой сводный брат Франкенштейн
userId                                 ...
1                                 NaN  ...                            NaN
2                                 NaN  ...                            NaN
3                                 NaN  ...                            NaN
4                                 NaN  ...                            NaN
5                                 NaN  ...                            NaN
6                                 NaN  ...                            NaN
7                                 NaN  ...                            NaN
8                                 NaN  ...                            NaN
9                                 NaN  ...                            NaN
10                                NaN  ...                            NaN
11                                NaN  ...                            NaN
12                                NaN  ...                            NaN
13                                NaN  ...                            NaN
14                                NaN  ...                            NaN
15                                NaN  ...                            NaN
16                                NaN  ...                            NaN
17                                NaN  ...                            NaN
18                                NaN  ...                            NaN
19                                NaN  ...                            NaN
20                                NaN  ...                            NaN

[20 rows x 2034 columns]

# Pearson Correlation

In [15]:
GENRE_WEIGHT = 0.1

def pearsonR(s1, s2):
    """상관계수를 만드는 함수"""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

def recommend(input_movie, matrix, n, similar_genre=True): 
    """input으로 영화title을, pivot table, 몇개의 영화를 추천받을 것인지, 비슷한 장르에 가중치를 줄 것인지를 
    등과 조건을 통해 영화를 추천해주는 함수"""

    input_genres = meta[meta['original_title'] == input_movie]['genres'].iloc(0)[0]
    # input으로 받은 영화의 장르를 input_genres에 저장 
    result = []
    for title in matrix.columns: # 영화의 순서대로 loop를 시작
        if title == input_movie: # title과 input_movie가 같다면 똑같은 영화를 추천받게 되는 것이니
            continue  # 건너뜀

        # input으로 받은 영화를 통해 피어슨 상관계수를 계산
        cor = pearsonR(matrix[input_movie], matrix[title])
        
        # genre comparison
        if similar_genre and len(input_genres) > 0:  # 장르의 길이가 0보다 클때
            temp_genres = meta[meta['original_title'] == title]['genres'].iloc(0)[0]

            same_count = np.sum(np.in1d(input_genres, temp_genres))  # 같은 장르가 많을때
            cor += (GENRE_WEIGHT * same_count)  # 장르에 가중치
        
        if np.isnan(cor):
            continue
        else:
            result.append((title, '{:.2f}'.format(cor), temp_genres))
            
    result.sort(key=lambda r: r[1], reverse=True)  # rating이 높은 만큼 sorting

    return result[:n]

# Prediction

In [23]:
recommend_result = recommend('Working Girlx', matrix, 10, similar_genre=True)

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

                        Title Correlation                              Genre
0              Viva Las Vegas        0.95    [Comedy, Drama, Music, Romance]
1                 Chasing Amy        0.81           [Comedy, Drama, Romance]
2                 The Holiday        0.80                  [Comedy, Romance]
3     When Harry Met Sally...        0.79           [Comedy, Romance, Drama]
4                        1984        0.74           [Drama, Science Fiction]
5           Prelude to a Kiss        0.73           [Drama, Comedy, Romance]
6                        Emma        0.69           [Drama, Comedy, Romance]
7                  L.A. Story        0.66  [Comedy, Drama, Fantasy, Romance]
8         Memoirs of a Geisha        0.62          [Drama, History, Romance]
9  Kruistocht in Spijkerbroek        0.60      [Adventure, Fantasy, History]