<a href="https://colab.research.google.com/github/unknown-jun/First_step_of_data_analist/blob/master/K_Beauty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. K-Beauty는 성장하고 있을까? 해외 직접 판매를 한다면 어느 국가로 판매전략을 세우면 좋을까?**


*   e : 추정치
*   p : 잠정치
*   -: 자료없음
*  ... : 미상자료
*  x : 비밀보호 추가

#**2. 필요 라이브러리가져오기**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt




%matplotlib inline

In [2]:
from google.colab import files
uploaded=files.upload()

Saving 국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20201020191448.csv to 국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20201020191448 (2).csv

In [3]:
# 시각화를 위한 폰트 설정
import os

if os.name == 'posix':
  sns.set(font='AppleGothic')
elif os.name == 'nt':
  sns.set(font='Malgun Gothic')

%config InlineBackened.figure_format ='retina'


import matplotlib.font_manager as fm

path = '/usr/share/fonts/truetype/nanum/NanumGothicEco.ttf'  # 설치된 나눔글꼴중 원하는 녀석의 전체 경로를 가져오자
font_name = fm.FontProperties(fname=path, size=10).get_name()
print(font_name)
plt.rc('font', family=font_name)

NanumGothic Eco

#**3. 데이터로드하기**

In [17]:
df_raw = pd.read_csv('국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20201020191448.csv',
                     encoding="cp949")
df_raw

    국가(대륙)별          상품군별   판매유형별  ... 2019 4/4 2020 1/4 2020 2/4 p)
0        합계            합계       계  ...  1879499  1525487     1273753
1        합계            합계     면세점  ...  1655635  1297490     1051987
2        합계            합계  면세점 이외  ...   223864   227997      221766
3        합계    컴퓨터 및 주변기기       계  ...     3826     4142        3776
4        합계    컴퓨터 및 주변기기     면세점  ...       70      113           0
..      ...           ...     ...  ...      ...      ...         ...
445      기타  생활용품 및 자동차용품     면세점  ...        0        0           0
446      기타  생활용품 및 자동차용품  면세점 이외  ...      531      384         334
447      기타           기 타       계  ...     1094      939         710
448      기타           기 타     면세점  ...        1        0           0
449      기타           기 타  면세점 이외  ...     1093      939         710

[450 rows x 29 columns]

In [18]:
df_raw.shape

(450, 29)

In [19]:
# "국가(대륙)별" 데이터 빈도수 세기
df_raw['국가(대륙)별'].value_counts()

EU            45
일본            45
중남미           45
대양주           45
중국            45
기타            45
중동            45
미국            45
아세안(ASEAN)    45
합계            45
Name: 국가(대륙)별, dtype: int64

In [20]:
  # 미국 데이터만 따로 보기
  # df_raw['국가(대륙)별'] == "미국"로 치면 boolin로 나타나고
  # 한번 더 df_raw[df_raw['국가(대륙)별'] == "미국"] 처럼 df 감싸주면 
  # 데이터 프레임 형태로 나옴
  
  df_raw[df_raw['국가(대륙)별'] == "미국"]

   국가(대륙)별          상품군별   판매유형별  ... 2019 4/4 2020 1/4 2020 2/4 p)
45      미국            합계       계  ...    53848    48277       63218
46      미국            합계     면세점  ...     1481      698         339
47      미국            합계  면세점 이외  ...    52367    47579       62879
48      미국    컴퓨터 및 주변기기       계  ...     1382     1182        1594
49      미국    컴퓨터 및 주변기기     면세점  ...        0        0           0
50      미국    컴퓨터 및 주변기기  면세점 이외  ...     1382     1182        1594
51      미국    가전·전자·통신기기       계  ...     1785     1830        2759
52      미국    가전·전자·통신기기     면세점  ...       49       12           2
53      미국    가전·전자·통신기기  면세점 이외  ...     1736     1818        2757
54      미국         소프트웨어       계  ...      338      135         182
55      미국         소프트웨어     면세점  ...        0        0           0
56      미국         소프트웨어  면세점 이외  ...      338      135         182
57      미국           서 적       계  ...     1720     2135        2368
58      미국           서 적     면세점  ...        0        0           0
59      미국           서 적  면세점 이외  ...     1720     2135        2368
60      미국         사무·문구       계  ...      101       74          81
61      미국         사무·문구     면세점  ...        0        0           0
62      미국         사무·문구  면세점 이외  ...      101       74          81
63      미국     음반·비디오·악기       계  ...     4786     4948        6981
64      미국     음반·비디오·악기     면세점  ...        0        0           0
65      미국     음반·비디오·악기  면세점 이외  ...     4786     4948        6981
66      미국  의류 및 패션관련 상품       계  ...    15964    12480       21836
67      미국  의류 및 패션관련 상품     면세점  ...       91       36          -5
68      미국  의류 및 패션관련 상품  면세점 이외  ...    15873    12444       21841
69      미국      스포츠·레저용품       계  ...      858      952        1483
70      미국      스포츠·레저용품     면세점  ...        0        0           0
71      미국      스포츠·레저용품  면세점 이외  ...      858      952        1483
72      미국           화장품       계  ...    13494    12402       11445
73      미국           화장품     면세점  ...     1271      625         337
74      미국           화장품  면세점 이외  ...    12223    11777       11108
75      미국       아동·유아용품       계  ...     1928      944        1321
76      미국       아동·유아용품     면세점  ...        0        0           0
77      미국       아동·유아용품  면세점 이외  ...     1928      944        1321
78      미국         음·식료품       계  ...      424     1187         450
79      미국         음·식료품     면세점  ...       70       25           5
80      미국         음·식료품  면세점 이외  ...      354     1162         445
81      미국         농축수산물       계  ...        2        2          12
82      미국         농축수산물     면세점  ...        0        0           0
83      미국         농축수산물  면세점 이외  ...        2        2          12
84      미국  생활용품 및 자동차용품       계  ...     3713     2212        3041
85      미국  생활용품 및 자동차용품     면세점  ...        0        0           0
86      미국  생활용품 및 자동차용품  면세점 이외  ...     3713     2212        3041
87      미국           기 타       계  ...     7353     7794        9665
88      미국           기 타     면세점  ...        0        0           0
89      미국           기 타  면세점 이외  ...     7353     7794        9665

[45 rows x 29 columns]

#**4. 분석과 시각화를 위한 tidy data 만들기**

In [21]:
df=df_raw.melt(id_vars=["국가(대륙)별","상품군별", "판매유형별"], 
            var_name="기간", value_name="판매액 (백만원)")
df.shape

(11700, 5)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   국가(대륙)별    11700 non-null  object
 1   상품군별       11700 non-null  object
 2   판매유형별      11700 non-null  object
 3   기간         11700 non-null  object
 4   판매액 (백만원)  11700 non-null  object
dtypes: object(5)
memory usage: 457.2+ KB

In [10]:
df.head()

  국가(대륙)별        상품군별   판매유형별        기간  판매액 (백만원)
0      합계          합계       계  2020 1/4    1525487
1      합계          합계     면세점  2020 1/4    1297490
2      합계          합계  면세점 이외  2020 1/4     227997
3      합계  컴퓨터 및 주변기기       계  2020 1/4       4142
4      합계  컴퓨터 및 주변기기     면세점  2020 1/4        113

# **5. 데이터 전처리**

##**5.1 기간에서 연도를 분리**

In [11]:
# '2020 2/4 p)'.split()[0]의 값인 '2020'은 str 타입이다.
# 이는 ''로 인한 것이기에 데이터 처리를 용이하기 위해서
# int 타입으로 변경

int('2020 2/4 p)'.split()[0])

2020

In [12]:
# 연도 column을 만들고 그 value 값으로
# 기간에 있는 연도만을 추출
# 이를 위해서 lambda 함수로 공백을 indexing 한 후에
# [0]만을 추출 후 이를 int타입으로 바꿔줌

df["연도"] = df["기간"].map(lambda x : int(x.split()[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간  판매액 (백만원)    연도
0      합계          합계       계  2020 1/4    1525487  2020
1      합계          합계     면세점  2020 1/4    1297490  2020
2      합계          합계  면세점 이외  2020 1/4     227997  2020
3      합계  컴퓨터 및 주변기기       계  2020 1/4       4142  2020
4      합계  컴퓨터 및 주변기기     면세점  2020 1/4        113  2020

In [13]:
'2020 2/4 p)'.split()[1].split('/')[0]

'2'

In [14]:
# 기간에서 분기를 분리
df['분기']=df["기간"].map(lambda x: int(x.split()[1].split('/')[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간  판매액 (백만원)    연도  분기
0      합계          합계       계  2020 1/4    1525487  2020   1
1      합계          합계     면세점  2020 1/4    1297490  2020   1
2      합계          합계  면세점 이외  2020 1/4     227997  2020   1
3      합계  컴퓨터 및 주변기기       계  2020 1/4       4142  2020   1
4      합계  컴퓨터 및 주변기기     면세점  2020 1/4        113  2020   1

##**5.2 금액을 수치데이터로 표현하기 위해 데이터 타입 변경하기**

In [23]:
# - 문자로 결측치를 변경하고 float 타입으로 변경하기
df["판매액 (백만원)"] = df["판매액 (백만원)"].replace("-", np.nan).astype(float)
df.head()

  국가(대륙)별        상품군별   판매유형별        기간  판매액 (백만원)
0      합계          합계       계  2014 1/4   148272.0
1      합계          합계     면세점  2014 1/4        NaN
2      합계          합계  면세점 이외  2014 1/4        NaN
3      합계  컴퓨터 및 주변기기       계  2014 1/4     4915.0
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4        NaN

#**5.3 필요없는 데이터 제거하기**

In [24]:
# 결측치보기
df.isnull().sum()

국가(대륙)별         0
상품군별            0
판매유형별           0
기간              0
판매액 (백만원)    3600
dtype: int64

In [25]:
# 합계 데이터는 따로 구할 수 있기 때문에 전체 데이터에서 제거
df = df[(df["국가(대륙)별"] !=  "합계") & (df["상품군별"] != "합계")].copy()

In [26]:
# info로 정보 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9828 entries, 48 to 11699
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   국가(대륙)별    9828 non-null   object
 1   상품군별       9828 non-null   object
 2   판매유형별      9828 non-null   object
 3   기간         9828 non-null   object
 4   판매액 (백만원)  6804 non-null   float64
dtypes: float64(1), object(4)
memory usage: 460.7+ KB

#**6. K-Beauty 시각화**

## **6.1 전체 상품군 판매액**

In [27]:
# 판매유형별 데이터는 일부 기간에는 "계"만 존재하기 때문에
# 판매유형별 == "계" 데이터만 가져와서 봐야지만 
# 평균값을 구하는 그래프를 올바른 값으로 표시 가능
df_total = df[df["판매유형별"] == "계"].copy()
df_total.head()

   국가(대륙)별        상품군별 판매유형별        기간  판매액 (백만원)
48      미국  컴퓨터 및 주변기기     계  2014 1/4     2216.0
51      미국  가전·전자·통신기기     계  2014 1/4     2875.0
54      미국       소프트웨어     계  2014 1/4       47.0
57      미국         서 적     계  2014 1/4      962.0
60      미국       사무·문구     계  2014 1/4       25.0

In [30]:
# 연도 , 판매액 lineplot으로 그리기
sns.lineplot(data=df_total, x="연도", y="판매액 (백만원)")

ValueError: ignored

In [31]:
# 연도, 금액(million) 판매액 lineplot으로 그리고 상품군별로 다른 색상으로 표시
sns.lineplot(data=df_total , x="연도", y="판매액 (백만원)", hue="상품군별")
plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

ValueError: ignored

In [ ]:
# 위에 그린 그래프를 자세히 보기 위해 서브플롯으로 표시
sns.relplot(data=df_total, x="연도", y="백만원", 
            hue="상품군별", kind="line", col="상품군별", col_wrap=4)

In [ ]:
# isin을 사용해 화장품만 제외를 하고 df_sub 이라는 변수에 담음

In [ ]:
# 연도별 판매액을 상품별로 replot을 활용해 서브플롯으로 그려보기

##**6.2 화장품의 온라인쇼핑 해외직접판매액**

In [ ]:
# df_cosmetic 이라는 변수에 상품군별이 화장품인 데이터만 가져오기

In [ ]:
# 연도와 판매액을 lineplot으로 그리고 분기별로 다른 색상으로 변경

In [ ]:
# 화장품 판매액에 대한 기간별 금액 데이터 시각화하기

In [ ]:
# 화장품 판매액에 대한 기간별 금액 데이터 시각화하고 "국가(대륙)별"로 다른 색상으로 표시하기

In [ ]:
# 화장품 판매액에 대한 기간별 금액 데이터 시각화하고 "판매유형별"로 다른 색상으로 표시하기

##**6.3 의류 및 패션관련 상품 온라인쇼핑 해외직접판매액**

In [ ]:
#df_fashion 이라는 변수에 의해 의류 데이터만 가져와 따로 담아주기

In [ ]:
# "의류 및 패션관련 상품" 판매액에 대한 기간별 금액 데이터 시각화하고
# "국가(대륙)별"로 다른 색상으로 표시하기

In [ ]:
# "의류 및 패션관련 상품" 판매액에 대한 기간별 금액 데이터 시각화하고
# "판매유형별"로 다른 색상으로 표시하기

##**6.4 데이터 집계하기**

In [ ]:
# 피벗데이블로 "국가(대륙)별", "연도별" 합계 금액을 표 형태로 구하기

##**6.5 연산결과를 시각적으로 보기**

In [ ]:
# 피벗테이블로 구한 결과를 값의 많고 적음에 따라 시각적으로 표현하기

#**7. 전체 상품군별로 온라인쇼핑 해외직접판매액은 증가했을까?**

In [ ]:
# 위에서 판매유형별 데이터의 "계"만 모은 df_total 변수를 통한 연도별 합계 금액을 시각화 하기

In [ ]:
# 위에서 구한 데이터에는 2014~2016년 데이터는 합계만 있기 때문에
# 합계 데이터만 다시 가져와서 그리기

In [ ]:
# 연도별 판매액을 그리고 "국가(대륙)별"로 다른 색상으로 표현하기